{% extends 'adminbase.html' %}

{% block content %}
{% block css_block %}
<style>
  label {
    color: black;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">

{% endblock %}

<div style="width: 100%;">
  <h3 style="text-align: center;color:rgb(255, 255, 255); background-color: blue;">Add Products</h3>

  <div>
    <div class="row" style="color: rgb(191, 12, 12);margin-left: 10px;">
      {% if pdtfm.errors %}
      {% for key,value in pdtfm.errors.items %}
      <p style="color: red;">{{value}}</p>
      {% endfor %}
      {% endif %}
    </div>
    <form action="/addproduct" method="POST" enctype="multipart/form-data"
      style=" font-size: -24rem;margin-left:50px;padding-left: 10px;">


      {% csrf_token %}

      <br>
      <div style="float: left;">
        <label for="Name">Product Name</label><br>
        {{pdtfm.Name}}
        <br>
        <label for="description">Product Description</label><br>
        {{pdtfm.description}}
        <br>
        <label for="category">Product Category</label><br>
        {{pdtfm.category}}
        <br>
      
      </div>


      <div>
        <label for="price">Product Price</label><br>
        {{pdtfm.price}}
        <br>
        <label for="size">Product Size</label><br>
        {{pdtfm.size}}
        <br>
        <label for="color">Product Color</label><br>
        {{pdtfm.color}}
        <br>
        <label for="stock">Product Stock</label><br>
        {{pdtfm.stock}}
        <br>
        <label >Product Image:1</label><br>
        
        {{pdtfm.images}}
        <img src="" alt="" id="image1" style="width: 100px;">
        <br>
        <label >Product Image:2</label><br>
        
        {{pdtfm.images2}}
        <img src="" alt="" id="image2" style="width: 100px;">
        <br>
        <label>Product Image:3</label><br>
        
        {{pdtfm.images3}}
        <img src="" alt="" id="image3" style="width: 100px;">
        <br>

      </div>

      <input type="submit" value="Add Product" id="confirm-btn"
        style="background-color: rgb(0, 255, 229);margin-top: 15px;border-radius: 4px;">

      
     

      <div class="col-md-5">
        <div class="form-group">
          <div id="image-box" class="image-container"> </div>
          <button class="btn btn-outline-info" id="crop-btn" style="margin-top: 10px; display: none;"
            type="button">Crop</button>
        </div>

      </div>
      




    </form>
  </div>

</div>
{% block js_block %}
<script>


  const imagebox = document.getElementById('image-box')
  // crop-btn is the id of button that will trigger the event of change original file with cropped file.
  const crop_btn = document.getElementById('crop-btn')
  // id_image is the id of the input tag where we will upload the image
  var input = document.getElementById('id_images')
  var allowedExtensions =
    /(\.jpg|\.jpeg|\.png|\.gif)$/i;

  var filePath = input.value;

  // When user uploads the image this event will get triggered
  input.addEventListener('change', () => {
    if (!allowedExtensions.exec(input.value)) {
      alert('Invalid file type');
      input.value = '';
    }
    else {
      // Getting image file object from the input variable
      var img_data = input.files[0]
      // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
      // The new object URL represents the specified File object or Blob object.
      var url = URL.createObjectURL(img_data)

      // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
      imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

      // Storing that cropping view image in a variable
      var image = document.getElementById('image')

      // Displaying the image box
      document.getElementById('image-box').style.display = 'block'
      // Displaying the Crop buttton
      document.getElementById('crop-btn').style.display = 'block'
      // Hiding the Post button
      document.getElementById('confirm-btn').style.display = 'none'

      // Creating a croper object with the cropping view image
      // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
      // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
      var cropper = new Cropper(image, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 1 / 1,
        //  preview: '.preview',
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
      })

      // When crop button is clicked this event will get triggered
      crop_btn.addEventListener('click', () => {
        // This method coverts the selected cropped image on the cropper canvas into a blob object
        cropper.getCroppedCanvas().toBlob((blob) => {

          // Gets the original image data
          var fileInputElement = document.getElementById('id_images');
          // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
          var file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
          // Create a new container
          var container = new DataTransfer();
          // Add the cropped image file to the container
          container.items.add(file);
          // Replace the original image file with the new cropped image file
          fileInputElement.files = container.files;
          console.log(container.files[0])
          var img = container.files[0]
          var url = URL.createObjectURL(img)
          document.getElementById('image1').src = url




          // Hide the cropper box
          document.getElementById('image-box').style.display = 'none'
          // Hide the crop button
          document.getElementById('crop-btn').style.display = 'none'
          // Display the Post button
          document.getElementById('confirm-btn').style.display = 'block'

        });
      });
    }
  });


  const imagebox2 = document.getElementById('image-box')
  // crop-btn is the id of button that will trigger the event of change original file with cropped file.
  const crop_btn2 = document.getElementById('crop-btn')
  // id_image is the id of the input tag where we will upload the image
  const input2 = document.getElementById('id_images2')
  var allowedExtensions =
    /(\.jpg|\.jpeg|\.png|\.gif)$/i;

  var filePath2 = input2.value;

  // When user uploads the image this event will get triggered
  input2.addEventListener('change', () => {
    if (!allowedExtensions.exec(input2.value)) {
      alert('Invalid file type');
      input2.value = '';
    }
    else {
      // Getting image file object from the input variable
      const img_data2 = input2.files[0]
      // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
      // The new object URL represents the specified File object or Blob object.
      var url2 = URL.createObjectURL(img_data2)

      // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
      imagebox2.innerHTML = `<img src="${url2}" id="image" style="width:100%;">`

      // Storing that cropping view image in a variable
      const image2 = document.getElementById('image')

      // Displaying the image box
      document.getElementById('image-box').style.display = 'block'
      // Displaying the Crop buttton
      document.getElementById('crop-btn').style.display = 'block'
      // Hiding the Post button
      document.getElementById('confirm-btn').style.display = 'none'

      // Creating a croper object with the cropping view image
      // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
      // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
      const cropper2 = new Cropper(image2, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 1 / 1,
        //  preview: '.preview',
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
      })

      // When crop button is clicked this event will get triggered
      crop_btn2.addEventListener('click', () => {
        // This method coverts the selected cropped image on the cropper canvas into a blob object
        cropper2.getCroppedCanvas().toBlob((blob) => {

          // Gets the original image data
          let fileInputElement2 = document.getElementById('id_images2');
          // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
          let file2 = new File([blob], img_data2.name, { type: "image/*", lastModified: new Date().getTime() });
          // Create a new container
          let container2 = new DataTransfer();
          // Add the cropped image file to the container
          container2.items.add(file2);
          // Replace the original image file with the new cropped image file
          fileInputElement2.files = container2.files;
          console.log(container2.files[0])
          let img = container2.files[0]
          var url = URL.createObjectURL(img)
          document.getElementById('image2').src = url




          // Hide the cropper box
          document.getElementById('image-box').style.display = 'none'
          // Hide the crop button
          document.getElementById('crop-btn').style.display = 'none'
          // Display the Post button
          document.getElementById('confirm-btn').style.display = 'block'

        });
      });
    }
  });

  const imagebox3 = document.getElementById('image-box')
  // crop-btn is the id of button that will trigger the event of change original file with cropped file.
  const crop_btn3 = document.getElementById('crop-btn')
  // id_image is the id of the input tag where we will upload the image
  const input3 = document.getElementById('id_images3')
  var allowedExtensions =
    /(\.jpg|\.jpeg|\.png|\.gif)$/i;

  var filePath3 = input3.value;

  // When user uploads the image this event will get triggered
  input3.addEventListener('change', () => {
    if (!allowedExtensions.exec(input3.value)) {
      alert('Invalid file type');
      input3.value = '';
    }
    else {
      // Getting image file object from the input variable
      const img_data3 = input3.files[0]
      // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
      // The new object URL represents the specified File object or Blob object.
      var url3 = URL.createObjectURL(img_data3)

      // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
      imagebox3.innerHTML = `<img src="${url3}" id="image" style="width:100%;">`

      // Storing that cropping view image in a variable
      const image3 = document.getElementById('image')

      // Displaying the image box
      document.getElementById('image-box').style.display = 'block'
      // Displaying the Crop buttton
      document.getElementById('crop-btn').style.display = 'block'
      // Hiding the Post button
      document.getElementById('confirm-btn').style.display = 'none'

      // Creating a croper object with the cropping view image
      // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
      // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
      const cropper3 = new Cropper(image3, {
        autoCropArea: 1,
        viewMode: 1,
        scalable: false,
        zoomable: false,
        movable: false,
        aspectRatio: 1 / 1,
        //  preview: '.preview',
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
      })

      // When crop button is clicked this event will get triggered
      crop_btn3.addEventListener('click', () => {
        // This method coverts the selected cropped image on the cropper canvas into a blob object
        cropper3.getCroppedCanvas().toBlob((blob) => {

          // Gets the original image data
          let fileInputElement3 = document.getElementById('id_images3');
          // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
          let file3 = new File([blob], img_data3.name, { type: "image/*", lastModified: new Date().getTime() });
          // Create a new container
          let container3 = new DataTransfer();
          // Add the cropped image file to the container
          container3.items.add(file3);
          // Replace the original image file with the new cropped image file
          fileInputElement3.files = container3.files;
          console.log(container3.files[0])
          let img = container3.files[0]
          var url = URL.createObjectURL(img)
          document.getElementById('image3').src = url




          // Hide the cropper box
          document.getElementById('image-box').style.display = 'none'
          // Hide the crop button
          document.getElementById('crop-btn').style.display = 'none'
          // Display the Post button
          document.getElementById('confirm-btn').style.display = 'block'

        });
      });
    }
  });


  

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

{% endblock %}
{% endblock %}