{% extends 'adminbase.html' %}
{% block content %}
    <div>
        {% load crispy_forms_tags %}
        <form action="" method="post">
            {% csrf_token %}

            {% for fm in form%}
            <div class="form-group col-lg-6 mb-3">
              {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
              <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
        </form>
    </div>
    {% endblock %}