{%extends 'includes/userbase.html' %}

{% block content %}

{% block css_block %}
<style>
    .imgkey {
        width: 100px;
        height: 100px;
        /*border: 2px solid black;*/

    }

    .previewPane {
        /*display:inline-block:*/
        border: 1px solid rgb(160, 159, 159);
        width: 33rem;
        height: 43rem;
        background-repeat: no-repeat;
        cursor: crosshair;
        background-size: 100%;
        margin-left: 100px;
    }

    #zoomer {
        border: 2px solid black;

        background: #fff;
        display: none;
        background-repeat: no-repeat;
        width: 33rem;
        height: 43rem;
        z-index: 1000;
        position: fixed;
        right: 10%;
        top: 13%;
    }

    .imgkey {
        display: none;
    }
</style>
<script src="https//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{%endblock%}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card ">
                <div class="previewPane"></div>
                <div id="zoomer"></div>
                <div class="imgline">

                    <img src="{{products.images.url}}" class="imgkey " alt="...">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div
                style="background-color: white;text-align: left; margin-left: -165px;padding-left: 10px;height:43rem;width:50rem">
                <div>
                    <h4 style="font-weight: bolder;color: black;">{{products.Name}}</h4>
                    <p style="color: rgb(160, 153, 153);font-size: larger;">{{products.description}}
                    </p>
                    <a href=""
                        style="text-decoration: none;color: rgb(22, 21, 21);font-weight:lighter;font-size: larger;"></a>
                    <hr style="margin-top: 10px;">
                    <div style=" margin-top: 10px;">
                        <h3 style="color: black; font-size: small;">{{products.total_price}}<span
                                style="color: rgb(87, 87, 87);text-decoration: line-through;">{{products.price}}</span><span
                                style="color:red;">{{products.discount}}</span></h3>
                        <p style="color: rgb(32, 206, 183);font-weight: bolder;">inclusive all tax</p>
                        <p style="font-weight: bolder;color: black;"> SIZE <span
                                style="color: rgb(218, 23, 159); ">SIZECHART</span>
                        </p>


                        <a>
                            <div
                                style="border-radius: 38px; background-color: rgb(255, 255, 255);width: 50px;height: 50px;border: 1px solid rgb(151, 147, 147);margin-top: 10px;text-align: center;">
                                <p style="margin-top: 10px;">{{products.size}}</p>
                            </div>
                        </a>

                        <button type="submit"
                            style="margin-top: 20px; background-color: rgb(218, 23, 159);border: rgb(218, 23, 159);color: white;">Add
                            to Cart</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div >
        <div ><img src="{{products.images.url}}" alt=""></div>
    </div> -->

{% block js_block %}
<script>
    $(function () {
        $('.previewPane, #zoomer').css('background-image', 'url(' + $('.imgkey').first().attr('src') + ')');
        $('.imgkey').click(function () {
            $('.previewPane').css('background-image', 'url(' + $(this).attr('src') + ')');
        });
        $('.previewPane').mousemove(function (ev) {
            $('#zoomer').css('display', 'inline-block');
            var img = $(this).css('background-image').replace(/^url\(['"](.+)['"]\)/, '$1');
            var posX = ev.offsetX ? (ev.offsetX) : ev.pageX - $(this).offset().left;
            var posY = ev.offsetY ? (ev.offsetY) : ev.pageY - $(this).offset().top;
            $('#zoomer').css('background-position', ((-posX * 3) + "px " + (-posY * 3) + "px"));
            $('#zoomer').css('background-image', 'url(' + img + ')');
        });
        $('.previewPane').mouseleave(function () { $('#zoomer').css('display', 'none'); });
    });
</script>
{%endblock%}

{%endblock%}